body {
    background-image: url(360_F_384073918_zG7vvz6HpTWTGAeTMBc4EgcOxFzQyUIo.jpg);
    background-repeat: no-repeat;
    background-size:100% 100% ;
    background-attachment: fixed;
    font-family: "Indie Flower", cursive;
    font-weight: 400;
    font-style: normal;
}
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding:20px;
}
.logo {
    text-decoration: none;
    color: #6e8aed;
    font-size: larger;
    font-weight: 600;
    
}
nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
nav ul li a {
    text-decoration: none;
    margin:20px;
    color: rgb(19, 19, 19);
    font-size: 15px;
    font-weight: 600;
    background-color: #039ba9;
    border-radius: 10px;
    padding: 10px;
}

li {
    transition: 0.5s;
}
li:hover {
    transform: scale(1.3);
    z-index: 2;
}
main {
    gap: 10px;
    display: grid;
    grid-template-columns: repeat(3, auto);
}
main div {
    background-color: wheat;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
h1 {
    text-align: center;
    color: #076177;
    text-shadow: 2px 2px 2px black;
    font-size: 50px;
}
footer {
    border-top:5px solid #6e8aed;
}
.footer {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding:20px;
}
footer a {
    margin: 20px;
}
footer a img {
    box-shadow: 3px 3px 3px rgb(226, 6, 215);
    width: 40px;
    height: 40px;
    border-radius: 60%;
} 
footer p {
    text-align: center;
    font-size: x-large;
    font-style: oblique;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}
.footer-div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    color: #830557;

    margin: 30px;
}
span {
    color: #052852;
    font-style: oblique;
}
